.place__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.06rem;
    max-width: 460px;
}

@media (max-width: 896px) {
    .place__title {
        font-size: 2.63rem;
        line-height: 2.88rem; 
        padding-top: 0.5em;   
    }
}

@media (max-width: 685px) {
    .place__title {
        font-size: 2rem;
        line-height: 2.19rem; 
        margin: 0px 16px 0px;
    }
}