.intro__contentRow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 2.19rem;
}

@media (max-width: 975px) {
    .intro__contentRow {
        display: block;
        margin-top: 1.25rem;
    }
}