.comment__quote {
    font-family: Inter;
    font-style: normal;
    font-size: 0.88rem;
    line-height: 1.5rem;

    margin-top: 42px;
}

@media (max-width: 896px) {
    .comment__quote {
        order: 3;
        margin-top: 24px;
    }
}