.barentsburg__coord  {
    font-family: Inter;
    font-size: 2.63rem;

    margin: 20px auto 48px;
    max-width: 1184px; 
}

@media (max-width: 1205px) {
    .barentsburg__coord {
        margin: 20px 48px 0px;
    }
}

@media (max-width: 896px) {
    .barentsburg__coord {
        margin: 20px 24px 0px;
    }
}

@media (max-width: 685px) {
    .barentsburg__coord {
        font-size: 1rem;
        margin: 5px 16px 0px;
    }
}