@import url('../intro/__title/intro__title.css');
@import url('../intro/__text/intro__text.css');
@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__contentRow/intro__contentRow.css');

.intro {
    margin: 5rem auto 0rem;
    max-width: 984px;
}

@media (max-width: 1097px) {
    .intro {
        max-width: calc(100% - 96px);
    }
}

@media (max-width: 896px) {
    .intro {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 685px) {
    .intro {
        max-width: calc(100% - 32px);
        margin: 4.06rem auto 0rem;
    }
}