.video__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.88rem;
    line-height: 0.94rem;
    margin-top: 18px;
}

@media (max-width: 896px) {
    .video__subtitle {
        margin-top: 12px;
    }
}

@media (max-width: 685px) {
    .video__subtitle {
        margin-top: 3px;
    }
}