.emblem__item {
    max-width: 195px;
    margin: 0px auto;
}

.emblem__item:first-child {
    max-width: 189px;
}

@media (max-width: 972px) {
    .emblem__item {
        margin-bottom: 64px;
    }
}

@media (max-width: 685px) {
    .emblem__item {
        margin-bottom: 56px;
    }
}