.cover__title {
    position: absolute;
    z-index: 30;
    top: 46.13%;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.88rem;
    text-align: center;
}

@media (max-width: 1097px) {
    .cover__title {
        max-width: 574px;
        top: 31.47%;
    }
}

@media (max-width: 685px) {
    .cover__title {
        max-width: 250px;
        font-size: 2rem;
        line-height: 2.19rem;
    }
}
