.intro__text_numbers {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 0.81rem;
    line-height: 1.25rem;
    margin-top: 2.19rem;
}

@media (max-width: 685px) {
    .intro__text_numbers {
        font-size: 0.75rem;
        line-height: 1.19rem;
        margin-top: 2rem;
    }
}

@media (max-width: 320px) {
    .intro__text_numbers {
        font-size: 0.75rem;
        line-height: 1.19rem;
        margin-top: 1.5rem;
    }
}